# dependencies
/node_modules
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build
#misc

/server/config/config.env
/client/.DS_Store
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*